.slideshow, .swiper-slide img {
  width: 100vw;
  height: 100vh;
}

.zoom-swiper, .slideshow {
  position: relative;
}

.slideshow {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.swiper-slide img {
  object-fit: cover;
}

@keyframes zoomAnimation {
  0% {
    transform: scale(1.4);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: scale(1); 
  }
}

.zoom-slide {
  animation: zoomAnimation 4.2s ease-in-out;
}