.cafe-kl {
    padding: 0 1.2rem;
    margin: 0 4rem;
    color: white;
    width: 400px;
}

.site {
    margin: 0;
    font-size: 1.6rem;
    font-style: italic;
}

.title {
    font-size: 4.6rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.about {
    font-size: 2rem;
    font-weight: 400;
}

.btn-outline-light {
    border: 2px solid white;
}