.about-cafe {
    background-color: rgba(76, 57, 33, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.video-container {
    width: calc(100% - 4rem);
    padding-top: calc(100% - 4rem);;
    margin: 0 2rem; 
    border-radius: 20px;
    overflow:hidden ;
    position: relative; 
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(188, 108, 37, 1)); 
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 2; 
    opacity: 0.2; 
}

.overlay-text {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.about-people {
    background-color: rgb(183, 135, 82);
}

.people {
    padding: 2rem 1.2rem;
}

@media (min-width: 1024px) {
    .about-cafe {
        flex-direction: row;
        justify-content: space-between; 
    }

    .video-container {
        width: 100%; 
        padding-top: 46%; 
    }

    .overlay-text {
        font-size: 2.4rem;
    }
}

@media (min-width: 1024px) {
    .overlay-text {
        font-size: 3rem;
    }
}

@media (min-width: 2560px) {
    .overlay-text {
        font-size: 8rem;
    }
}


