.customer {
    position: relative;
    padding: 2rem;
  
    .card-content {
      position: relative; 
      border-radius: 20px 20px 0 0;
      background-image: url("src/assets/images/mid-section-waitress-wiping-espresso-machine-with-napkin-cafa-c.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center; 
      padding-top: 5rem; 
      padding-bottom: 5rem; 
    }
  
    .card-img {
      position: absolute; 
      width: 65px;
      height: 65px;
      border-radius: 50%;
      object-fit: cover;
      left: 50%;
      top: 17%; 
      transform: translate(-50%, -50%); 
      z-index: 1; 
    }
  
    .card-header {
      margin-top: 20px;
      display: flex;
      flex-direction: column; 
      align-items: center;
    }
  
    .card-title {
      font-size: 1.8rem;
      margin-bottom: 0.5rem; 
    }
  
    .card-tag {
      font-size: 1.6rem;
      color: $white-dim-color;
    }
  
    .card-description {
      font-size: 1.6rem;
      background-color: $section-bg-color;
      margin: 0;
      padding: 1.5rem 2rem;
      padding-bottom: 0;
      color: $white-dim-color;
      width: 100%; 
      box-sizing: border-box; 
      p {
        padding-bottom: 2rem;
        border-bottom: 1px solid $white-dim-color;
        margin: 0;
      }
    }
  
    .card-rate {
      background-color: $section-bg-color; 
      margin: 0; 
      padding: 1rem 2rem;
      padding-right: 3rem; 
      border-radius: 0 0 20px 20px; 
      font-size: 2rem; 
      display: flex; 
      align-items: center; 
      justify-content: space-between; 
      gap: 0.5rem; 
      width: 100%; 
      box-sizing: border-box; 
  
      .test {
        width: 90px;
        font-weight: $font-weight-bold;
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
      }
    }
  
    .card-star {
      display: flex;
      gap: 0.2rem;
    }
  }
  
  
  