@import "./../../variables";

.navbar, .navbar-icon, .navbar-top, .navbar-list, .navbar-toggler, .navbar-header {
  display: flex;
}

.navbar, .navbar-list, .navbar-toggler, .navbar-top {
  flex-direction: column;
}

.navbar {
  background-color: $dark-background;
  border-radius: 20px;
  position: fixed;
  z-index: 4;
  right: 0;
  left: 0;
  margin: 1rem;
}

.navbar-container {
  padding: 1.5rem 3rem;
}

.navbar-top, .navbar-toggler, .navbar-header {
  justify-content: space-between;
}

.navbar-icon, .navbar-header {
  align-items: center;
}

.navbar-icon {
  flex-direction: row;
  gap:1rem;

  img {
    filter: brightness(0) invert(1);
    width: 48px;
  }

  h2 {
    font-size: 2.4rem; 
    margin: 0;
  }
}

.navbar-link {
  text-decoration: none;
  color: $white-color;
  font-size: 1.6rem;
}

.navbar-list {
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  gap: 1.5rem;
  padding-left: 1rem;
  animation: openNav 1s forwards;

  .navbar-item {
    &.active, &:hover {
      color: $secondary-color;
    }
  }
}

.navbar-large {
  display: none;
}

.navbar-toggler {
  width: 4px;
}

.navbar-link {
  Button {
    padding: 1rem 2rem;
  }
  .arrow-up {
    display: inline-block;
    transform: rotate(-45deg);
    padding-left: 0.5rem;
  }
}

.navbar-toggler {
  width: 30px; 
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.navbar-items {
  margin-top: 2rem;

  &.close {
    display: none;
  }
}

.line {
  width: 100%;
  height: 3px; 
  background-color: $white-color;
}

@keyframes openLine1 {
  50%{
    transform: translateY(8.5px);
  }
  100% {
    transform: translateY(8.5px) rotate(45deg);
  }
}

@keyframes openLine2 {
  100% {
    opacity: 0;
  }
}

@keyframes openLine3 {
  50%{
    transform: translateY(-8.5px);
  }
  100% {
    transform: translateY(-8.5px) rotate(-45deg);
  }
}

@keyframes closeLine1 {
  0% {
    transform: translateY(8.5px) rotate(45deg);
  }
  50% {
    transform: translateY(8.5px) rotate(45deg) rotate(-45deg);
  }
  100% {
    transform: translateY(8.5px) rotate(45deg) rotate(-45deg) translateY(-8.5px);
  }
}

@keyframes closeLine2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeLine3 {
  0% {
    transform: translateY(-8.5px) rotate(-45deg);
  }
  50% {
    transform: translateY(-8.5px) rotate(-45deg) rotate(45deg);
    
  }
  100% {
    transform: translateY(-8.5px) rotate(-45deg) rotate(45deg) translateY(8.5px);
  }
}


.navbar-toggler.open .line1 {
  animation: openLine1 1s forwards;
}

.navbar-toggler.open .line2 {
  animation: openLine2 1s forwards;
}

.navbar-toggler.open .line3 {
  animation: openLine3 1s forwards; 
}

.navbar-toggler.close .line1 {
  animation: closeLine1 1s backwards;
}

.navbar-toggler.close .line2 {
  animation: closeLine2 1s backwards;
}

.navbar-toggler.close .line3 {
  animation: closeLine3 1s backwards; 
}

.navbar-toggler .line {
  transition: all 0.5s ease;
}


@media (min-width: 768px) {
  .navbar {
    margin: 1rem 3rem;
  }
}

@media (min-width: 1024px) {
  .navbar{
    margin: 3.2rem;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-top, .navbar-items {
    flex-direction: row;
  }

  .navbar-items {
    align-items: center;
    gap: 4rem;
    margin: 0;
  }

  .navbar-icon {

    h2{
      font-size: 2.8rem;
    }
  }
}

@media (min-width: 1440px) {
  .navbar {
    margin: 3.2rem 8rem;
  }
}

@media (min-width: 2560px) {
  .navbar {
    margin: 7rem 15rem;
    border-radius: 30px;
  }

  .navbar-container {
    padding: 2.5rem 5rem;
  }

  .navbar-items {
    gap: 6rem;
  }

  .navbar-link {
    font-size: 2rem;
  }

  .navbar-icon {
    h2{
      font-size: 3.2rem;
    }

    img {
      width: 68px;
    }
  }
}
