@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

$white-color:                  #ffffff;
$primary-color:                #BC6C25;
$secondary-color:              #DDA15E;
$section-bg-color:             rgb(183, 135, 82);
$custom-btn-bg-color:          #BC6C25;
$custom-btn-bg-hover-color:    #DDA15E;
$dark-color:                   #000000;
$p-color:                      #717275;
$border-color:                 #7fffd4;
$link-hover-color:             #E76F51;
$border-underline-color:       rgba(255, 255, 255, 0.35);
$white-dim-color:              rgba(255, 255, 255, 0.75);
$dark-background:              rgba(0, 0, 0, 0.65);
$dark-dim-background:          rgba(0, 0, 0, 0.35);
$primary-background:           rgba(188, 108, 37, 1);
$tag-background:               rgb(188, 108, 37);
$about-cafe-background:        rgba(76, 57, 33, 1);
$about-people-background:      rgb(183, 135, 82);
$review-background:            rgb(124, 92, 82);

$font-body:                     "Plus Jakarta Sans", sans-serif;

$font-weight-thin:              200;
$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-bold:              700;
