@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.2rem 2.8rem;
  border-radius: 30px;
  margin: 1rem;
  border: none;
}

.btn-primary {
  background-color: rgb(188, 108, 37);
}

@media (min-width: 991px) {
  .btn:hover {
    background-color: white;
    color: rgb(221, 161, 94);
  }

  .btn-primary:hover {
    background-color: rgb(221, 161, 94);
    color: white;
  }
}
